---
import Icon from "@components/ui/Icon.astro";

interface Props {
  videoId: string;
  thumbnailUrl: string;
  title: string;
}

const { videoId, thumbnailUrl, title } = Astro.props;
---

<tiktok-video
  class="relative h-142.5 w-80 shrink-0 cursor-pointer snap-center rounded-2xl bg-black bg-cover bg-no-repeat bg-center transition-[background-size] hover:bg-size-[105%]"
  videoid={videoId}
  thumbnailurl={thumbnailUrl}
  data-title={title}
  data-track="play_video"
  aria-label="Reproducir video"
  role="button"
  tabindex="0"
>
  <div
    class="absolute right-6 bottom-6 rounded-full bg-white p-4 pl-4.5 transition-transform duration-300 hover:scale-110"
    id=`Id${videoId}`
    title={title}
  >
    <Icon name="play" class="text-primary" />
  </div>
</tiktok-video>

<script>
  class TiktokVideo extends HTMLElement {
    videoId?: string;

    connectedCallback() {
      const thumbnailUrl = this.getAttribute("thumbnailurl");
      this.videoId = this.getAttribute("videoid")!;

      this.style.backgroundImage = `url(${thumbnailUrl})`;

      this.addEventListener("click", this.activateVideo);
      this.addEventListener("keydown", this.handleKeyPress);
    }

    disconnectedCallback() {
      // Limpiar event listeners cuando el componente se elimina del DOM
      this.removeEventListener("click", this.activateVideo);
      this.removeEventListener("keydown", this.handleKeyPress);
    }

    activateVideo = () => {
      this.style.backgroundImage = "unset";

      this.querySelector(`#Id${this.videoId}`)?.remove();

      const iframeEl = this.createIframe();
      this.append(iframeEl);
      iframeEl.focus();

      this.unMutePlayerByDefault();
    };

    handleKeyPress = (event: KeyboardEvent) => {
      if (event.code === "Enter" || event.code === "Space") {
        this.activateVideo();
      }
    };

    createIframe = () => {
      const iframeEl = document.createElement("iframe");
      iframeEl.width = "320";
      iframeEl.height = "570";
      iframeEl.classList.add("rounded-2xl", "w-full", "h-full", "snap-center");
      iframeEl.title = this.getAttribute("data-title")!;
      iframeEl.allow =
        "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; transparency";
      iframeEl.allowFullscreen = true;
      iframeEl.src = `https://www.tiktok.com/player/v1/${this.videoId}?autoplay=1`;

      return iframeEl;
    };

    unMutePlayerByDefault = () => {
      const messageHandler = (event: MessageEvent) => {
        if (
          event.origin === "https://www.tiktok.com" &&
          event.data.type === "onPlayerReady"
        ) {
          this.querySelector("iframe")!.contentWindow!.postMessage(
            { type: "unMute", "x-tiktok-player": true },
            "*",
          );

          window.removeEventListener("message", messageHandler);
        }
      };

      window.addEventListener("message", messageHandler);
    };
  }

  customElements.define("tiktok-video", TiktokVideo);
</script>
